<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpZCR6fKS07kCdPMuef0RghIN-0ajEFpA</string>
	<key>GCM_SENDER_ID</key>
	<string>91433447554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snsClone</string>
	<key>PROJECT_ID</key>
	<string>majinbuu-sns-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>majinbuu-sns-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91433447554:ios:538957e7e1716f522bc49b</string>
</dict>
</plist>